<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title> Ожидание </title>
<style>
    .block {
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}
</style>
</head>
<h1> Ожидание </h1>
<body>
<h2 style="text-align: center;">Парсер добавит новые данные</h2>
<h4 style="text-align: center;"><img src="./mister_Bin.jpg" width="600" height="450" alt="" /></h4>
<div class="block">
    <button onclick="window.location.href = 'http://127.0.0.1:8000/calc';">  Дальше  </button>
</div>
</body>
</html>