<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Рассчет </title>
</head>
<h2 style="text-align: center;">График изменения цены BTC по имеющимся данным</h2>
<body>
<p></p>
<h4 style="text-align: center;"><img src="./plot.jpg" width="600" height="450" alt="" /></h4>
<p></p>
<h3> Время извлечения всех элементов {{y}}</h3>
<h3> Время извлечения одного элемента {{z}}</h3>
<h3> Время извлечения элементов с ценой больше или равной 68  {{a}}</h3>
<h3> Время удаления всех элементов   {{b}}</h3>
</body>
</html>